h1{
    text-align: center;
    width: 50%;
    margin: 5% auto;
}
p{
    text-align: center;
}
img{
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
}
@media only screen and (max-width: 550px){
    img{
        width: 40%;
        height: auto;
        margin-left: 30%;
        margin-right: 30%;
    }
}